@page "/"

<PageTitle>Index</PageTitle>

<h1>Salem, alem!</h1>

Welcome to my Blazor project page.<br />
Soon I will write very interesting project<br />
Soon...  

<SurveyPrompt Title="Blazor-top" />

